# minimal requirements
numpy
pandas
torch
torchvision
spikingjelly==0.0.0.0.12
opencv-python
imageio
numba
h5py
hdf5plugin
tqdm

# required by spikingjelly, but not necessary to us
# loris  # fails to build on Windows without MSVC C++ Build Tools + hits a Windows path-length limit during sdist extraction
torchaudio
ninja

# We recommend installing wandb for logs, but it is not necessary
